@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  line-height: 1.5;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
  padding-top: 30px;
}

h2 {
  font-size: 1.5rem;
  color: white;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 2rem;
}

/* logo */

header {
  background-color: black;
  padding: 2rem;
}

img {
  width: 150px;
}

/* banner */

.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 50vh;
  position: relative;
  text-align: center;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.btn {
  display: inline-block;
  background-color: #f04c2f;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: underline;
}

/* 1st section content */

.wrapper {
  text-align: center;
  padding: 5rem;
  margin: 3rem 0;
}
.notebook,
.article-content {
  width: 600px;
  display: inline-block;
  vertical-align: bottom;
}

.notebook {
  width: 500px;
}

.notebook img {
  width: 100%;
  border-radius: 50%;
}

.article-content {
  text-align: left;
  padding-left: 30px;
}
/* testimonials */

.testimonial-section {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding: 4rem;
}

.testimonial-section p:first-of-type {
  font-style: italic;
}

.author {
  font-size: 1rem;
  margin: 0;
}

.ceo {
  font-size: 0.8rem;
}

/* cards */

.cards-section {
  text-align: center;
  padding-top: 4rem;
}

.cards-section h3 {
  padding-top: 1rem;
}

.card1,
.card2,
.card3 {
  display: inline-block;
  border: 1px solid #dee1e3;
  width: 400px;
  height: 450px;
  margin: 10px;
  vertical-align: top;
  border-radius: 5px;
}

.cards-text {
  padding: 0 10px;
}

.cards-section img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.card3 {
  vertical-align: bottom;
}

/* footer */

footer {
  background-color: #25a2c3;
  color: white;
  margin-top: 4rem;
  padding: 3rem;
  text-align: center;
}

footer a {
  color: #cceeee;
}

i {
  color: white;
  margin-right: 5px;
}

.copyright p {
  margin: 0;
}

.copyright {
  display: inline-block;
  padding: 20px;
  border-top: 1px solid white;
  text-align: center;
  margin-top: 20px;
}

ul {
  display: inline-block;
  text-align: left;
}
ul li {
  color: #c8e7f0;
  list-style: none;
  margin-left: 1rem;
  font-size: 1rem;
}

footer h2 {
  font-size: 2.5rem;
}

footer p {
  color: #c8e7f0;
  font-size: 0.9rem;
}
